/* Style autofilled input fields */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #080808 inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* For Firefox */
input:-moz-autofill {
    box-shadow: 0 0 0 1000px #fff inset !important;
    -moz-text-fill-color: #222 !important;
}

/* For Edge */
input:-ms-input-autofill {
    box-shadow: 0 0 0 1000px #fff inset !important;
    color: #222 !important;
}