/* Underline for active nav link */
.links .active {
	/* position: relative; */
	color: #22d3ee !important; /* cyan-400 */
}
/* .links .active::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -2px;
	height: 3px;
	background: #22d3ee;
	border-radius: 2px;
	transition: width 0.2s;
} */
nav{
	padding: 0px 24px;
}
.searchBar{
	border: 1px solid rgba(255, 255, 255, 0.5);
	outline: none;
		border-radius: 8px;
}
.searchBar input {
	width: 100%;
	height: 100%;
	padding: 0px 10px;
	font-size: 16px;
	background: transparent;

}
input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.mr-2 {
	margin-right: 0.5rem;
}
	
.login , .createUser {
	border-radius: 8px;
}
.createUser {
	white-space: nowrap;
	border-color: transparent;
	&:hover {
		border-color:rgba(255, 255, 255, 0.5);
	}
	transition: all 0.3s ease;
}